@model  Speedbird.ServiceRequestDets
<style>
    .table {
        width: 100%;
    }
</style>
@if (Model != null)
{
    <div class="alert alert-secondary">
    <table class="table table-sm table-dark">
        <tr>
            <th>
                Booking No:       <span class="h1">@Model.BookingNo</span>
            </th>
            <th>
                Booking Date: <span class="h1">@Model.DT</span>
            </th>
            <th>
                Status:  <span class="h1">@((Speedbird.SRStatusEnum)Model.SRStatusID)</span>
            </th>
            <th>
                Emp. Name:  <span class="h1">@Model.UserName</span>
            </th>            
        </tr>
        
    </table>
</div>
}

