@model  Speedbird.ServiceRequestDets
<style>
    .table {
        width: 100%;
    }
</style>
@if (Model != null)
{
<div class="alert-primary m-3 row">
    <span class="col"><strong>Booking No:</strong>      <span class="border-dark"> @Model.BookingNo</span></span>
    <span class="col"><strong>Booked on:</strong> @Model.DT</span>
    <span class="col"><strong>Status:</strong>  @((Speedbird.SRStatusEnum)Model.SRStatusID)</span>
    <span class="col"><strong>Emp. Name:</strong>  @Model.UserName</span>
    <div class="col"><strong>&nbsp;</strong>&nbsp;</div>
</div>
}

