
@model  Speedbird.AccomodationDets

<div class="money">
    <small>Starting From</small>&nbsp;&nbsp;
    <i style="font-size:24px" class="fa">&#xf156;</i>
    @ViewBag.Price
</div>
<div class=" sub_label"> per person</div>


