
@model  IEnumerable<Speedbird.PackageDets>
<div class="container">
    <h3>Similar Categories</h3>
    <div class="container">
        @foreach (var item in Model)
        {
        <div class="card bg-dark text-white" id="attract-card"style="width:360px;;height:150px; margin-left:0;">
            <img class="card-img" src="/Images/@item.PictureName" alt="Card image" style="width:360px;height:150px; ">
            <div class="card-img-overlay">
                <p class="img-title">@item.PackageName</p>
            </div>
        </div>
        }
    </div>
</div>



