
@model  IEnumerable<Speedbird.AccomPackCarBike>


<h2>@ViewBag.ServiceTitle</h2>
<div id="Container">



       @foreach (var item in Model)
        {
           <a href="/Home/InfoPage/?st=@ViewBag.st&&ServiceID=@item.ServiceID">
            <div class="card ServiceTypes" style="width: 18rem;">
                <img class="card-img-top" src="/Images/@item.ServicePic" alt="Card image cap">
                <div class="card-body">
                    <div class="FloatBadge">
                        @item.ServiceGeoName
                    </div>
                    <h5 class="card-title">@item.ServiceName</h5>
                    <p class="card-text">@item.ServiceDescription.Substring(1,25) </p>

                </div>

            </div>
          </a>
        }
   
</div>


<script>
    var $container = $('#Container');
    $container.imagesLoaded(function () {
        $container.masonry({
            itemSelector: '.ServiceTypes',
            columnWidth: 150,
            isAnimated: true,
        });
    });

</script>
