body {
    background-color:white;
    color: black;
   
}

.carousel {
    width: 100% !important;
    bottom: 30px;
}

.img-fluid {
    max-width: 100%;
    width: 100%;
    height: 700px;
}

.FloatBadge {
    font-family: "Quattrocento Sans",sans-serif;
    display: inline-block;
    position: absolute;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    padding: 7px;
    background-color: #f18e00;
    color: #fff;
    left: 0;
    top: 15px;
    font-size: 16px;
    box-shadow: 3px 0 5px 0 rgba(50,50,50,.4);
}


.container-fluid{
    padding-right:0;
    padding-left:0;
    margin:0;
}



/* Print only what is needed 
<input type="button" onclick="javascript:window.print();" value="print a div!" /> */

    #PrintHeader, #PrintHeader * {
        visibility:hidden;
        display:none;
    }
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}


@media print {
    
    body * {
        visibility: hidden;
    }

    #PrintHeader, #PrintHeader * {
        visibility: visible;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }

    #section-to-print, #section-to-print * {
        visibility: visible;
    }

    #section-to-print {
        position: absolute;
        left: 0;
        top: 50px;
    }

    
}
@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
}

.chat_list .list-group-item {
    padding: 5px 4px;
    min-height: 80px;
}

@media (max-width: 768px) {
    .chat_list .list-group-item {
        min-height: inherit;
    }
}

.chat_list .list-group-item-text {
    word-wrap: break-word;
    display: flex;
    overflow: auto;
}

.chat_list .pull-left {
    width: 55px;
    text-align: center;
}




@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 1; }
}
