<style>
    /*Reused*/
    h4 {
        font-family: "Merriweather Sans",serif;
        font-weight: normal;
        text-transform: uppercase;
        color: white;
        background-color: limegreen;
        box-shadow: 0 3px 5px rgba(50,50,50,0.4);
        margin-top:30px;
        font-size:37px;
    }

    .custinfo{
        margin-top:23px;
        margin-left:10px;
    }
    h1 {
        font-weight: bold;
        font-size: 60px;
        text-align: center;
        text-shadow: 3px 3px #444;
        font-family: 'Niconne', cursive;
        padding-left: 50px;
        color: white;
        background-image: url('/Images/mice-banner.jpg');
        height: 120px;
        padding-bottom: 15px;
        margin-bottom: 0;
    }
    /*Reused*/
    th {
        color: #009ee0;
        font-size: 14px;
        font-weight: bold;
        text-transform: none;
        padding-left: 0;
        padding-right: 0;
        text-align: right;
    }
    .table, th, td {
        border-top: 0px !important;
        text-align: left;
        padding: 5px !important;
        border: none !important;
        border-bottom: 1px solid #009ee0 !important;
        zoom:1.1;
    }

    td {
        font-family: "Quattrocento Sans",serif;
    }
</style>
<center>
    <h1>Thank you For booking with us</h1>
</center>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="custinfo">
                <table class="table table-bordered">
                    <tr>

                        <td colspan="2"><center><img src="/Images/World.jpg" style="width:300px; box-shadow: 0 3px 5px rgba(50,50,50,0.4);" /></center></td>
                    </tr>
                    <tr>
                        <th>First Name</th>
                        <td>Diptesh </td>
                    </tr>
                    <tr>
                        <th>Surname</th>
                        <td>Naik</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>diptesh03@gmail.com</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>9872637738</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-">
            <center>
                <h4>List of Items which are succesfully booked !!!</h4>
                <table class="table">
                    <tr>
                        <th>Sr no</th><th></th><th>Service</th><th>Qty</th><th>Prices</th>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>

                        <td>
                            <img src="/Images/World.jpg" style="width:150px; box-shadow: 0 3px 5px rgba(50,50,50,0.4);" />
                        </td>
                        <td>
                            Manali Tour
                        </td>
                        <td>
                            2
                        </td>
                        <td>34556/-</td>
                    </tr>
                </table>
            </center>
        </div>
    </div>
</div>