<style>
    .alert {
        padding-bottom:0px;
    }
</style>

<br />
<div class="row alert alert-primary alert-dismissible fade show" role="alert" style="position:absolute; top:15px;left:80px; border:3px groove #ffffec">
    <div class="col-sm-auto">
        <div class="qItem alert alert-warning text-center">
            Accomodation <span class="badge badge-dark">3</span>
        </div>
    </div>
    <div class="col-sm-auto">
        <div class="qItem alert alert-warning text-center">
            Package <span class="badge badge-dark">1</span>
        </div>
    </div>
    <div class="col-sm-auto">
        <div class="qItem alert alert-warning text-center">
            Visa <span class="badge badge-dark">7</span>
        </div>
    </div>
    <div class="col-sm-auto">
        <div class="qItem alert alert-warning text-center">
            Car/Bike <span class="badge badge-dark">0</span>
        </div>
    </div>
    <div class="col-sm-auto">
        <div class="qItem alert alert-warning text-center">
            Sight Seeing <span class="badge badge-dark">8</span>
        </div>
    </div>
    <div class="col-sm-auto">
        <div class="qItem alert alert-warning text-center">
            Flight <span class="badge badge-dark">5</span>
        </div>
    </div>
    <div class="col-sm-auto">
        <div class="qItem alert alert-warning text-center">
            Cruise <span class="badge badge-dark">1</span>
        </div>
    </div>
    <div class="col-sm-auto">
        <div class="qItem alert alert-warning text-center">
            Insurance <span class="badge badge-dark">7</span>
        </div>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<script>
    $('.alert').alert();
</script>