<br />
<br />
<br />
<div class="alert alert-info" role="alert">
    <h1 class="alert-heading">Spectacular Speedbird !</h1>
    <p>Welcome! This is the Office section of the Spectacular Speedbird web tool.</p>
    <hr>
    <p class="mb-0">We hope you enjoy using it as much as we have enjoyed making it for you.</p>
    <br />
    <address>
        <strong>EEAAtech</strong><br>
        c/o: Erryl Alvares<br>
        Miramar<br>
        <abbr title="Phone">P:</abbr> 9923379793
    </address>
</div>
