
//For datatables
<link rel="stylesheet" type="text/css" href="/Content/datatables.min.css" />
<script type="text/javascript" src="/Scripts/datatables.min.js"></script>
<style>
    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: right;
        visibility: hidden;
    }
</style>

<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
        <a href="@Url.Action("Manage","Package",new {sid= ViewBag.sid})"><i class="fas fa-plus-circle fa-inverse h3 float-right DropShadow"></i></a>
    </div>
    <div class="card-body">
        <h5>&nbsp;</h5>
        
        <table id="PkgTbl" class="table table-sm table-striped">
            <thead class="thead-light">
                <tr role="row">
                    <th><input type="text" class="form-control" placeholder="Filter Number"></th>
                    <th><input type="text" class="form-control" placeholder="Filter Name"></th>
                    <th><input type="text" class="form-control" placeholder="Filter Locations"></th>
                    <th><input type="text" class="form-control" placeholder="Filter Duration"></th>
                    <th><input type="text" class="form-control" placeholder="Filter Categories"></th>
                    <th><input type="text" class="form-control" placeholder="Filter Suppliers"></th>
                    <th><input type="text" class="form-control" placeholder="Filter Supplier Contracts"></th>
                    <th width="5%"></th>
                </tr>
                <tr role="row">
                    <th scope="col">Auto No.</th>
                    <th scope="col">Name</th>
                    <th scope="col" class="no-sort">Locations</th>
                    <th scope="col">Duration</th>
                    <th scope="col" class="no-sort">Categories</th>
                    <th scope="col" class="no-sort">Suppliers</th>
                    <th scope="col" class="no-sort">Sup.Cont. No.</th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>



<script>
    $(function () {
        var oTable = $('#PkgTbl').DataTable({            
            serverSide: true,
            searching: true,
            ajax: {
                "type": "POST",
                "url": '@Url.Action("GetPkgList",new {sid=(int)ViewBag.sid })',
                "contentType": 'application/json; charset=utf-8',
                'data': function (data) {
                    return data = JSON.stringify(data);
                }
            },
            processing: true,
            paging: true,
            pagingType: "full_numbers",
            deferRender: true,
            columns: [
                { data: "PackageID" },
                { data: "PackageName" },
                { data: "GeoName" },
                { data: "Duration" },
                { data: "CategoryName" },
                { data: "SupplierNames" },
                { data: "SupplierContractNos" }
            ],
            columnDefs: [{
                'targets': 7,
                'searchable': false,
                'orderable': false,
                'bSortable': false,
                'render': function (data, type, full, meta) {
                    return '<a href="/SBBoss/package/manage/' + full.PackageID + '?sid=' + full.ServiceTypeID + '"><i class="fas fa-edit fa-inverse h3 float-right DropShadow"></i></a> &nbsp;';
                }
            },
            {
                targets: 'no-sort',
                orderable: false
            }]
        });



        $("#PkgTbl thead th input[type=text]").on('change', function () {
            oTable.column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();
        });

    })


</script>
