@using Microsoft.AspNet.Identity
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="mr-auto">&nbsp;</div>
    <div class="my-2 my-lg-0">
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <ul class="navbar-nav mr-5">
                    <li class="nav-item">
                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                </ul>
            }



        }
        else
        {
            <ul class="nav-item">
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        }
</div>
</div>