

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a id="emblem" href="~/"><img src="~/Custom/Emblem.png" height=100px; alt="De Monte Hospitality" /> </a>*@
            @Html.ActionLink("Speed Bird", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Masters<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Configs/Edit/1">Configuration</a></li>
                        <li><a href="~/Activity">Activity</a></li>
                        <li><a href="~/SBBoss/Attraction">Attraction</a></li>
                        <li><a href="~/Category">Category</a></li>
                        <li><a href="~/GuideLanguage">Guide Language</a></li>
                        <li><a href="~/BookingStatus">Booking Status</a></li>
                        <li><a href="~/Facility">Facility</a></li>
                        <li><a href="~/Cruise">Cruise</a></li>
                        <li><a href="~/Coupon">Discount Coupons</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Finance<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Receipt">Receipt</a></li>                                                
                        <li><a href="~/Voucher">Voucher</a></li>
                        <li><a href="~/Voucher">Bill</a></li>                                                
                    </ul>
                </li>


                    </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
