@model Speedbird.Models.PaymentViewModel


<div class="row">
    <div class="col-6">
        <h4>Pay To Us</h4>
        <table class="table SRDetsTbl left">
            <thead>
                <tr>
                    <th>BF</th>
                    <th>Pax Name</th>
                    <th>Date</th>
                    <th>CP</th>
                    <th>SP</th>
                    <th><input type="checkbox" id="checksleft" name="allchecks" class="form-check" /></th>
                </tr>
            </thead>
            <tbody>
                @Html.EditorFor(model => model.LeftBkPayVm)
            
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h4>Pay To Driver</h4>
        <table class="table SRDetsTbl right">
            <thead>
                <tr>
                    <th>BF</th>
                    <th>Pax Name</th>
                    <th>Date</th>
                    <th>CP</th>
                    <th>SP</th>
                    <th><input type="checkbox" id="checksright" name="allchecks" class="form-check" /></th>
                </tr>
            </thead>
            <tbody>
                @Html.EditorFor(model => model.RightBkPayVm)
            </tbody>
        </table>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(function () {
        $("#checksleft").click(function () {
            $('.left input:checkbox').not(this).prop('checked', this.checked);
        });

        $("#checksright").click(function () {
            $('.right input:checkbox').not(this).prop('checked', this.checked);
        });
    });
</script>