
@{
    ViewBag.Title = "Forgot Password Confirmation";
    String portal = ViewBag.lu;
}
<style>
    .alink {
        color: lightcyan;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: bolder;
    }

    body {
        background-image: url(/Images/LoginBG.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    p {
        background: rgba(0, 0, 0,0.7);
    }
</style>
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please click the following to reset the password or send the link to the employee to whom the account belongs: &nbsp;
        <a href="@portal">@portal</a>
    </p>
</div>

